@font-face {
    font-family: 'Gastreet Font';
    src:url('../fonts/GastreetSans/GastreetFont.eot');
    src:url('../fonts/GastreetSans/GastreetFont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GastreetSans/GastreetFont.woff2') format('woff2'),
        url('../fonts/GastreetSans/GastreetFont.woff') format('woff'),
        url('../fonts/GastreetSans/GastreetFont.ttf') format('truetype'),
        url('../fonts/GastreetSans/GastreetFont.svg#GastreetFont') format('svg');
    font-weight: normal;
    font-style: normal;}

@font-face {
    font-family: 'Gastreet Sans';
    src:url('../fonts/GastreetSans/GastreetSans-Regular.eot');
    src:url('../fonts/GastreetSans/GastreetSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GastreetSans/GastreetSans-Regular.woff2') format('woff2'),
        url('../fonts/GastreetSans/GastreetSans-Regular.woff') format('woff'),
        url('../fonts/GastreetSans/GastreetSans-Regular.ttf') format('truetype'),
        url('../fonts/GastreetSans/GastreetSans-Regular.svg#GastreetSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;}

@font-face {
    font-family: 'Gastreet Sans';
    src:url('../fonts/GastreetSans/GastreetSans-Bold.eot');
    src:url('../fonts/GastreetSans/GastreetSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GastreetSans/GastreetSans-Bold.woff2') format('woff2'),
        url('../fonts/GastreetSans/GastreetSans-Bold.woff') format('woff'),
        url('../fonts/GastreetSans/GastreetSans-Bold.ttf') format('truetype'),
        url('../fonts/GastreetSans/GastreetSans-Bold.svg#GastreetSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;}
* {
    padding: 0;
    margin: 0;}
html {
    font-size: 16px;
    background-color: rgba(0,52,213,1);
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */}
body {
    font-family: 'Gastreet Sans';
    color: #fff;
    font-weight: normal;
    background-repeat: no-repeat;
    background: url(../../../images/background.png), linear-gradient(135deg, rgba(0,52,213,1) 0%, rgba(98,0,151,1)) 100%; 
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */}
.kids_body_page .kids .kids_img_boy {
    position: relative;}
.kids_body_page .kids .kids_logo {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;}
.kids_body_page .kids .kids_img_description {
    position: absolute;
    top: 10rem;
    left: 0;}
.kids_body_page .short_description {
    margin-top: 5rem;
    margin-bottom: 5rem;}
.kids_body_page .short_description .description {
    line-height: 1;
    font-size: 1.3rem;}
.kids_body_page .short_description .description span {
    display: block;
    font-family: 'Gastreet Font';
    font-size: 6.250rem;}
.kids_body_page .included .child_relaxation {
    font-size: 3.95rem;
    font-weight: 600;
    line-height: 1;}
.kids_body_page .included .img-description {
    width: 100%;
    height: 100%;}
.kids_body_page .included .subtitle {
    position: absolute;
    text-align: center;
    font-weight: 600;}
.kids_body_page .included .subtitle.text-1 {
    bottom: 6.5rem;
    padding-left: 5.5rem;}
.kids_body_page .included .subtitle.text-2 {
    bottom: 5.5rem;
    padding-left: 5.5rem;}
.kids_body_page .included .subtitle.text-3 {
    bottom: 7.3rem;
    padding-left: 5.5rem;}
.kids_body_page .included .subtitle.text-4 {
    bottom: 7rem;
    padding-left: 6.5rem;}
.kids_body_page .included .subtitle.text-5 {
    bottom: 6.6rem;
    padding-left: 6.8rem}
.kids_body_page .included .subtitle.text-6 {
    bottom: 7rem;
    padding-left: 7rem;}
.kids_body_page .included .subtitle.text-7 {
    bottom: 9rem;
    padding-left: 8rem;}
.kids_body_page .included .subtitle.text-8 {
    bottom: 7.3rem;
    padding-left: 6rem;}
.kids_body_page .included .description_modal {
    color: #fff;}
.kids_body_page .timetable {
    background: url(../../../images/timetable.png) 100% 100% no-repeat;
    background-size: 100% 100%;
    padding-top: 5rem;}
.kids_body_page .timetable .title_timetable {
    font-size: 4.063rem;
    font-weight: 600;
    margin-bottom: 2rem;}
.kids_body_page .timetable .data_description {
    padding-bottom: 2.5rem;}
.kids_body_page .timetable .time {
    font-size: 1.313em;
    font-weight: 600;}
.kids_body_page .timetable .list_day_month {
    list-style-type: none;
    margin-bottom: 2rem;}
.kids_body_page .timetable .day_month {
    font-size: 1.875rem;
    color: #fff;}
.kids_body_page .timetable .description_time {
    font-size: 1.125rem;}
.kids_body_page .feedback .feedback-page {
    background: url(../../../images/feedback.png) 100% 100% no-repeat;
    background-size: 100% 100%;
    padding-bottom: 4rem;}
.kids_body_page .feedback .feedback-page .feedback-title {
    padding-top: 8rem;
    font-size: 4.063rem;
    font-weight: 600;}
.kids_body_page .feedback .feedback-page .feedback-longtitle {
    font-size: 1.313rem;
    margin-bottom: 1.5rem;}
.kids_body_page .feedback .feedback-page  form input::placeholder {
    color: #fff;
    padding-left: 1rem;}
.kids_body_page .feedback .feedback-page form input {
    background-color: rgba(255, 255, 255, 0.2);
    text-transform: capitalize;
    border: none;
    width: 95%;
    margin-bottom: 4rem;
    height: 2.5rem;}
.kids_body_page .feedback .feedback-page .feedback-button {
    background-color: #fff;
    border: none;
    border-radius: 30px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    font-size: 1.438rem;
    font-weight: 600;
    color: #0034d5;}
.kids_body_page .partners {
    margin-top: 1rem;
    margin-bottom: 2rem;}
.kids_body_page .partners .partner-zvuchi {
    font-family: 'Gastreet Font';
    font-size: 2rem;}
.kids_body_page .partners .logo-partners {
    height: 4rem;}
.kids_body_page .modal_description_kids .modal-content {
    background-color: transparent;}
.kids_body_page .modal_description_kids .modal-content .big-img-title {
    width: 90%;}
.kids_body_page .modal_description_kids .modal-content .img-title {
    background: url(../../../images/title-img.png);
    background-size: 100% 100%;
    height: 9rem;
    margin-top: -4rem;
    position: relative;
    z-index: 1;}
.kids_body_page .modal_description_kids .modal-content {
    border: none;}
.kids_body_page .modal_description_kids .modal-content .img-description {
    background: url(../../../images/subtitle-img.png)50% 100% no-repeat;
    background-size: 90% 100%;
    margin-top: -3rem;}
.kids_body_page #KidsTimeExampleModal .modal-content .img-description, .kids_body_page #KidsCookingExampleModal .modal-content .img-description {
    height: 11.5rem;}
.kids_body_page #KidsTeachExampleModal .modal-content .img-description {
    height: 10.5rem;}
.kids_body_page #KidsExcursExampleModal .modal-content .img-description, .kids_body_page #KidsСlothesExampleModal .modal-content .img-description, .kids_body_page #KidsPoolExampleModal .modal-content .img-description {
    height: 12.5rem;}
.kids_body_page #KidsAnthemModal .modal-content .img-description {
    height: 12rem;}
.kids_body_page #KidsFoodExampleModal .modal-content .img-description {
    height: 15.8rem;} 
.kids_body_page .modal_description_kids .modal-content .subtitle-modal {
    color: #000;
    padding-top: 3.5rem;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    font-size: 0.7rem;}
.kids_body_page .modal_description_kids .modal-content .title-modal {
    position: relative;
    top: 3.5rem;
    line-height: 1;
    font-weight: 600;
    font-size: 1.3rem;}
.kids_body_page #KidsFoodExampleModal .modal-content .title-modal {
    position: relative;
    top: 3rem;
    line-height: 1;
    font-weight: 600;
    font-size: 1.3rem;}
.kids_body_page #KidsTimeExampleModal .modal-content .title-modal .angle.left {
    margin-right: -3rem;}
.kids_body_page #KidsTimeExampleModal .modal-content .title-modal .angle.right {
    margin-left: 1rem;}
.kids_body_page #KidsFoodExampleModal .modal-content .title-modal .angle.left {
    margin-right: -3rem;}
.kids_body_page #KidsFoodExampleModal .modal-content .title-modal .angle.right {
    margin-right: 0;}
.kids_body_page #KidsTeachExampleModal .modal-content .title-modal .angle.left {
    margin-right: -2.5rem;}
.kids_body_page #KidsTeachExampleModal .modal-content .title-modal .angle.right {
    margin-left: 1rem;}
.kids_body_page #KidsExcursExampleModal .modal-content .title-modal .angle.left {
    margin-right: -2rem;}
.kids_body_page #KidsExcursExampleModal .modal-content .title-modal .angle.right {
    margin-left: 3rem;}
.kids_body_page #KidsCookingExampleModal .modal-content .title-modal .angle.left {
    margin-right: -3rem;} 
.kids_body_page #KidsCookingExampleModal .modal-content .title-modal .angle.right {
    margin-left: -3rem;}
.kids_body_page #KidsСlothesExampleModal .modal-content .title-modal .angle.left {
    margin-right: -1rem;}
.kids_body_page #KidsСlothesExampleModal .modal-content .title-modal .angle.right {
    margin-left: 5rem;}
.kids_body_page #KidsPoolExampleModal .modal-content .title-modal .angle.left {
    margin-right: -2rem;}
.kids_body_page #KidsPoolExampleModal .modal-content .title-modal .angle.right {
    margin-left: 8rem;}
.kids_body_page #KidsAnthemModal .modal-content .title-modal .angle.left {
    margin-right: -3rem;}
.kids_body_page #KidsAnthemModal .modal-content .title-modal .angle.right {
    margin-left: -1rem;}
.kids_body_page .modal_description_kids .modal-content .title-modal .angle {
    font-size: 2.5rem;
    color: #fff;}
.kids_body_page #KidsPoolExampleModal .modal-content .title-modal {
    top: 3.5rem;}
.kids_body_page .modal_description_kids .modal-content .close {
    color: #0034d5;
    font-weight: 600;
    background-color: #fff;
    padding: 0.3rem 0.6rem;
    border-radius: 50px;
    position: absolute;
    right: 4.5rem;
    top: 1rem;
    opacity: 1}
.kids_body_page .timetable .day_2, .kids_body_page .timetable .day_3, .kids_body_page .timetable .day_4,.kids_body_page .timetable .day_5{
    display: none;}
.kids_body_page .modal-sl {
    max-width: 500px;}




@media (min-width: 300px) and (max-width: 575px) {
        
    html {
        font-size: 12px;}
    .kids_body_page .timetable .day_month {
        font-size: 1rem;}
    .kids_body_page .kids .kids_img_boy {
        position: relative;
        top: 8rem;}
    .kids_body_page .kids .kids_img_description {
        position: relative;
        top: 2rem;}
    .kids_body_page .short_description {
        margin-top: 2rem;
        margin-bottom: 2rem;}
    .kids_body_page .short_description .description {
        line-height: 1;
        text-align: center;
        font-size: 1rem;
        padding-bottom: 1rem;}
    .kids_body_page .short_description .description span {
        font-size: 4.25rem;}
    .kids_body_page .included .child_relaxation {
        font-size: 2.3rem;
        font-weight: 600;
        line-height: 1;}
    .kids_body_page .included .subtitle {
        font-size: 0.6rem;}
    .kids_body_page .included .subtitle.text-1 {
        bottom: 6.5rem;
        padding-left: 5.5rem;}
    .kids_body_page .included .subtitle.text-2 {
        bottom: 5.5rem;
        padding-left: 5.5rem;}
    .kids_body_page .included .subtitle.text-3 {
        bottom: 7.3rem;
        padding-left: 5.5rem;}
    .kids_body_page .included .subtitle.text-4 {
        bottom: 7rem;
        padding-left: 6.5rem;}
    .kids_body_page .included .subtitle.text-5 {
        bottom: 6.6rem;
        padding-left: 6.8rem}
    .kids_body_page .included .subtitle.text-6 {
        bottom: 7rem;
        padding-left: 6rem;}
    .kids_body_page .included .subtitle.text-7 {
        bottom: 8rem;
        padding-left: 8rem;}
    .kids_body_page .included .subtitle.text-8 {
        bottom: 7rem;
        padding-left: 6rem;}
    .kids_body_page .timetable  {
        background-color: #0034d5; 
        padding-top: 1rem;}
    .kids_body_page .timetable .title_timetable {
        font-size: 4.063rem;
        margin-bottom: 1.5rem;}
    .kids_body_page .timetable .data_description {
        padding-bottom: 1.8rem;}
    .kids_body_page .timetable .time {
        font-size: 1.313em;
        font-weight: 600;}
    .kids_body_page .timetable .list_day_month {
        list-style-type: none;
        justify-content: space-between;
        margin-bottom: 2rem;}
    .kids_body_page .timetable .Day_month {
        font-size: 1.2rem;
        color: #fff;}
    .kids_body_page .timetable .description_time {
        font-size: 1.125rem;}
    .kids_body_page .feedback .feedback-page .feedback-title {
        padding-top: 10rem;
        font-size: 2rem;}
    .kids_body_page .feedback .feedback-page .feedback-longtitle {
        font-size: 0.7rem;
        margin-bottom: 1.5rem;}
    .kids_body_page .feedback .feedback-page form input {
        margin-bottom: 2rem;}
    .kids_body_page .modal_description_kids .modal-content .img-title {
        background: url(../../../images/title-img.png);
        background-size: 100% 100%;
        height: 8rem;
        margin-top: -5em;
        position: relative;
        z-index: 1;}
    .kids_body_page .modal_description_kids .modal-content {
        padding-top: 8rem;
        border: none;}
    .kids_body_page .modal_description_kids .modal-content .big-img-title {
        margin-right: 0.4rem;
        width: 90%;}
    .kids_body_page .modal_description_kids .modal-content .img-description {
        background: url(../../../images/subtitle-img.png)48% 100% no-repeat;
        background-size: 90% 100%;
        margin-top: -5rem;}
    .kids_body_page .modal_description_kids .modal-content .subtitle-modal {
        color: #000;
        padding-top: 4rem;
        padding-left: 4.5rem;
        padding-right: 4.5rem;
        font-size: 0.6rem;}
    .kids_body_page .modal_description_kids .modal-content .title-modal {
        position: relative;
        top: 4rem;
        line-height: 1;
        font-weight: 600;
        font-size: 1rem}
    .kids_body_page #KidsFoodExampleModal .modal-content .title-modal {
        top: 3rem;}
    .kids_body_page #KidsPoolExampleModal .modal-content .title-modal {
        top: 2.3rem;}
    .kids_body_page .modal_description_kids .modal-content .title-modal .angle {
        font-size: 2.5rem;
        color: #fff;}
    .kids_body_page .modal_description_kids .modal-content .close {
        color: #0034d5;
        font-weight: 600;
        font-size: 1rem;
        padding: 0.3rem 0.5rem;
        border-radius: 50px;
        position: absolute;
        right: 5rem;
        top: 1rem;
        opacity: 1}
}
@media (min-width: 300px) and (max-width: 374px) {
    .kids_body_page .kids .kids_img_boy {
        position: relative;
        top: 6.5rem;}
    .kids_body_page .timetable .day_month {
        font-size: 1rem;}
    .kids_body_page .kids .kids_img_description {
        top: 1rem;}
    .kids_body_page .included .subtitle.text-1 {
        bottom: 3rem;
        padding-left: 2rem;}
    .kids_body_page .included .subtitle.text-2 {
        bottom: 2.5rem;
        padding-left: 2rem;}
    .kids_body_page .included .subtitle.text-3 {
        bottom: 3rem;
    padding-left: 2.2rem;}
    .kids_body_page .included .subtitle.text-4 {
        bottom: 3rem;
        padding-left: 2.7rem;}
    .kids_body_page .included .subtitle.text-5 {
        bottom: 3.2rem;
        padding-left: 2.8rem;}
    .kids_body_page .included .subtitle.text-6 {
        bottom: 3.5rem;
        padding-left: 2.5rem;}
    .kids_body_page .included .subtitle.text-7 {
        bottom: 4rem;
        padding-left: 4rem;}
    .kids_body_page .included .subtitle.text-8 {
        bottom: 3rem;
        padding-left: 2.3rem;}
    .kids_body_page .timetable .title_timetable {
        font-size: 3.063rem;}
    .kids_body_page .timetable .data_description {
        padding-bottom: 1rem;}
    .kids_body_page .timetable .time, .kids_body_page .timetable .Day_month {
        font-size: 1rem;}
    .kids_body_page .modal_description_kids .modal-content .img-title {
        background: url(../../../images/title-img.png);
        background-size: 100% 100%;
        height: 7rem;
        margin-top: -3rem;
        position: relative;
        z-index: 1;}
    .kids_body_page #KidsFoodExampleModal .modal-content .title-modal {
        top: 4rem;}
    .kids_body_page .modal_description_kids .modal-content {
        padding-top: 8rem;
        border: none;}
    .kids_body_page .modal_description_kids .modal-content .big-img-title {
        width: 90%;}
    .kids_body_page .modal_description_kids .modal-content .img-description {
        background-size: 90% 100%;
        margin-top: -3rem;}
    .kids_body_page #KidsTimeExampleModal .modal-content .img-description, .kids_body_page #KidsAnthemModal .modal-content .img-description, .kids_body_page #KidsPoolExampleModal .modal-content .img-description, .kids_body_page #KidsCookingExampleModal .modal-content .img-description {
        height: 11.1rem;}
    .kids_body_page #KidsTeachExampleModal .modal-content .img-description {
        height: 10.6rem;}
    .kids_body_page #KidsСlothesExampleModal .modal-content .img-description, .kids_body_page #KidsExcursExampleModal .modal-content .img-description {
        height: 12.1rem;}
    .kids_body_page #KidsFoodModal .modal-content .img-description {
        height: 15.6rem;} 
    .kids_body_page .modal_description_kids .modal-content .subtitle-modal {
        color: #000;
        padding-top: 3.5rem;
        padding-left: 3rem;
        padding-right: 3rem;
        font-size: 0.6rem;}
    .kids_body_page .modal_description_kids .modal-content .title-modal {
        position: relative;
        top: 2.5rem;        
        line-height: 1;
        font-weight: 600;
        font-size: 1rem;}
    .kids_body_page #KidsFoodExampleModal .modal-content .title-modal {
        top: 2.3rem;
        font-size: 1rem;}
    .kids_body_page .modal_description_kids .modal-content .title-modal .angle {
        font-size: 2.5rem;
        color: #fff;}
    .kids_body_page .modal_description_kids .modal-content .title-modal .angle.left {
        margin-right: -3rem;}
    .kids_body_page .modal_description_kids .modal-content .title-modal .angle.right {
        margin-left : -3rem;}
    .kids_body_page .modal_description_kids .modal-content .close {
        color: #0034d5;
        font-weight: 600;
        font-size: 1rem;
        padding: 0.3rem 0.5rem;
        border-radius: 50px;
        position: absolute;
        right: 4rem;
        top: 1rem;
        opacity: 1}
} 
@media (min-width: 375px) and (max-width: 414px) {
    .kids_body_page .timetable .day_month {
        font-size: 1rem;}
    .kids_body_page .kids .kids_img_description {
        top: 2.5rem;}
    .kids_body_page .included .subtitle.text-1 {
        bottom: 3.8rem;
        padding-left: 3.4rem;}
    .kids_body_page .included .subtitle.text-2 {
        bottom: 3.5rem;
        padding-left: 3.5rem;}
    .kids_body_page .included .subtitle.text-3 {
        bottom: 4rem;
        padding-left: 3.5rem;}
    .kids_body_page .included .subtitle.text-4 {
        bottom: 4rem;
        padding-left: 4rem;}
    .kids_body_page .included .subtitle.text-5 {
        bottom: 4rem;
        padding-left: 4.2rem;}
    .kids_body_page .included .subtitle.text-6 {
        bottom: 4.5rem;
        padding-left: 3.7rem;}
    .kids_body_page .included .subtitle.text-7 {
        bottom: 4.7rem;
        padding-left: 5rem;}
    .kids_body_page .included .subtitle.text-8 {
        bottom: 4rem;
        padding-left: 3.5rem;}
    .kids_body_page .modal_description_kids .modal-content .img-title {
        height: 8rem;
        margin-top: -3rem;}
    .kids_body_page .modal_description_kids .modal-content {
        padding-top: 8rem;
        border: none;}
    .kids_body_page .modal_description_kids .modal-content .img-description {
        margin-top: -3rem;}
    .kids_body_page #KidsTimeExampleModal .modal-content .img-description, .kids_body_page #KidsAnthemModal .modal-content .img-description, .kids_body_page #KidsCookingExampleModal .modal-content .img-description {
        height: 11.7rem;}
    .kids_body_page #KidsTeachExampleModal .modal-content .img-description {
        height: 10.7rem;}
    .kids_body_page #KidsPoolExampleModal .modal-content .img-description {
        height: 12.7rem;    }
    .kids_body_page #KidsСlothesExampleModal .modal-content .img-description, .kids_body_page #KidsExcursExampleModal .modal-content .img-description {
        height: 12.6rem;}
    .kids_body_page #KidsFoodExampleModal .modal-content .img-description {
        height: 15.7rem;} 
    .kids_body_page .modal_description_kids .modal-content .subtitle-modal {
        padding-top: 3.5rem;
        padding-left: 3rem;
        padding-right: 3rem;
        font-size: 0.7rem;}
    .kids_body_page .modal_description_kids .modal-content .title-modal {
        top: 3rem;
        font-weight: 600;
        font-size: 1rem;}
    .kids_body_page #KidsFoodExampleModal .modal-content .title-modal {
        top: 2.2rem;
        font-size: 1.4rem;}
    .kids_body_page .modal_description_kids .modal-content .close {
        right: 4.5rem;
        top: 1.5rem;}
}
@media (min-width: 411px) and (max-width: 576px) {
    .kids_body_page .timetable .day_month {
        font-size: 1rem;}
    .kids_body_page .included .subtitle.text-1 {
        bottom: 4.5rem;
        padding-left: 4rem;}
    .kids_body_page .included .subtitle.text-2 {
        bottom: 4rem;
        padding-left: 4rem;}
    .kids_body_page .included .subtitle.text-3 {
        bottom: 4.5rem;
        padding-left: 4rem;}
    .kids_body_page .included .subtitle.text-4 {
        bottom: 4.5rem;
        padding-left: 4.5rem;}
    .kids_body_page .included .subtitle.text-5 {
        bottom: 4.6rem;
        padding-left: 4.8rem;}
    .kids_body_page .included .subtitle.text-6 {
        bottom: 5rem;
        padding-left: 4.5rem;}
    .kids_body_page .included .subtitle.text-7 {
        bottom: 5.5rem;
        padding-left: 5.5rem;}
    .kids_body_page .included .subtitle.text-8 {
        bottom: 4.5rem;
        padding-left: 4.3rem;}
    .kids_body_page .modal_description_kids .modal-content .img-title {
        height: 10rem;
        margin-top: -5em;}
    .kids_body_page .modal_description_kids .modal-content {
        padding-top: 8rem;
        border: none;}
    .kids_body_page .modal_description_kids .modal-content .big-img-title {
        width: 90%;}
    .kids_body_page #KidsTimeExampleModal .modal-content .img-description, .kids_body_page #KidsAnthemModal .modal-content .img-description, .kids_body_page #KidsPoolExampleModal .modal-content .img-description, .kids_body_page #KidsCookingExampleModal .modal-content .img-description {
        height: 11.9rem;}
    .kids_body_page #KidsTeachExampleModal .modal-content .img-description {
        height: 10.8rem;}
    .kids_body_page #KidsСlothesExampleModal .modal-content .img-description, .kids_body_page #KidsExcursExampleModal .modal-content .img-description {
        height: 12.8rem;}
    .kids_body_page #KidsFoodExampleModal .modal-content .img-description {
        height: 15.9 rem;} 
    .kids_body_page .modal_description_kids .modal-content .subtitle-modal {
        padding-left: 4rem;
        padding-right: 4rem;}
    .kids_body_page .modal_description_kids .modal-content .title-modal {
        top: 4rem;
        font-size: 1.3rem;}
    .kids_body_page #KidsFoodExampleModal .modal-content .title-modal {
        top: 3.3rem;}
    .kids_body_page .modal_description_kids .modal-content .close {
        right: 5rem;
        top: 1.5rem;}
}
@media (min-width: 576px) and (max-width: 768px) {
    .kids_body_page .short_description .description {
        line-height: 1.3;
        text-align: center;
        font-size: 1rem;
        padding-bottom: 2rem;}
    .kids_body_page .timetable .day_month {
        font-size: 1rem;}
    .kids_body_page .short_description .description span {
        font-size: 4.25rem;}
    .kids_body_page .included .child_relaxation {
        font-size: 2.3rem;
        font-weight: 600;
        line-height: 1;}
    .kids_body_page .included .subtitle {
        font-size: 0.6rem;}
    .kids_body_page .included .subtitle.text-1 {
        bottom: 6.5rem;
        padding-left: 5.5rem;}
    .kids_body_page .included .subtitle.text-2 {
        bottom: 5.5rem;
        padding-left: 5.5rem;}
    .kids_body_page .included .subtitle.text-3 {
        bottom: 7.3rem;
        padding-left: 5.5rem;}
    .kids_body_page .included .subtitle.text-4 {
        bottom: 7rem;
        padding-left: 6.5rem;}
    .kids_body_page .included .subtitle.text-5 {
        bottom: 6.6rem;
        padding-left: 6.8rem}
    .kids_body_page .included .subtitle.text-6 {
        bottom: 7rem;
        padding-left: 6rem;}
    .kids_body_page .included .subtitle.text-7 {
        bottom: 8rem;
        padding-left: 8rem;}
    .kids_body_page .included .subtitle.text-8 {
        bottom: 7rem;
        padding-left: 6rem;}
    .kids_body_page #KidsTimeExampleModal .modal-content .img-description, .kids_body_page #KidsAnthemModal .modal-content .img-description, .kids_body_page #KidsPoolExampleModal .modal-content .img-description, .kids_body_page #KidsCookingExampleModal .modal-content .img-description {
        height: 11.8rem;}
    .kids_body_page #KidsTeachExampleModal .modal-content .img-description {
        height: 10.7rem;}
    .kids_body_page #KidsСlothesExampleModal .modal-content .img-description, .kids_body_page #KidsExcursExampleModal .modal-content .img-description {
        height: 12.7rem;}
}
/* Medium */
@media (min-width: 768px) and (max-width: 992px) {
    .kids_body_page .short_description .description {
        line-height: 1.3;
        text-align: center;
        font-size: 1rem;
        padding-bottom: 2rem;}
    .kids_body_page .short_description .description span {
        font-size: 4.25rem;}
    .kids_body_page .included .child_relaxation {
        font-size: 2.3rem;
        font-weight: 600;
        line-height: 1;}
    .kids_body_page .included .subtitle {
        font-size: 0.6rem;}
    .kids_body_page .included .subtitle.text-1 {
        bottom: 4rem;
        padding-left: 3.2rem;}
    .kids_body_page .included .subtitle.text-2 {
        bottom: 3.5rem;
        padding-left: 3.5rem;}
    .kids_body_page .included .subtitle.text-3 {
        bottom: 4.5rem;
    padding-left: 3.5rem;}
    .kids_body_page .included .subtitle.text-4 {
        bottom: 4.5rem;
        padding-left: 3.8rem;}
    .kids_body_page .included .subtitle.text-5 {
        bottom: 4.1rem;
    padding-left: 4rem;}
    .kids_body_page .included .subtitle.text-6 {
        bottom: 4rem;
        padding-left: 3.7rem;}
    .kids_body_page .included .subtitle.text-7 {
        bottom: 5rem;
        padding-left: 5rem;}
    .kids_body_page .included .subtitle.text-8 {
        bottom: 4rem;
        padding-left: 3.5rem;}
    .kids_body_page #KidsTimeExampleModal .modal-content .img-description, .kids_body_page #KidsAnthemModal .modal-content .img-description, .kids_body_page #KidsPoolExampleModal .modal-content .img-description, .kids_body_page #KidsCookingExampleModal .modal-content .img-description {
        height: 11.8rem;}
    .kids_body_page #KidsTeachExampleModal .modal-content .img-description {
        height: 10.7rem;}
    .kids_body_page #KidsСlothesExampleModal .modal-content .img-description, .kids_body_page #KidsExcursExampleModal .modal-content .img-description {
        height: 12.7rem;}
    .kids_body_page #KidsFoodExampleModal .modal-content .img-description {
        height: 15.8rem;} 
}
@media (min-width: 993px) and (max-width: 1040px) {
    .kids_body_page .short_description .description {
        line-height: 1.3;
        text-align: center;
        font-size: 1rem;
        padding-bottom: 2rem;}
    .kids_body_page .short_description .description span {
        font-size: 4.25rem;}
    .kids_body_page .included .child_relaxation {
        font-size: 2.3rem;
        font-weight: 600;
        line-height: 1;}
    .kids_body_page .included .subtitle {
        font-size: 0.6rem;}
    .kids_body_page #KidsFoodExampleModal .modal-content .img-description {
        height: 15.8rem;} 
    .kids_body_page .included .subtitle.text-1 {
        bottom: 5.8rem;
        padding-left: 5.5rem;}
}